<style type="text/css">
.metanav
{
}
</style>
	<div class="page">
	<h1>{{ title }}</h1>
	<div class="metanav">
	{% if client %}
 		<form action="{{ url_for('informations_client') }}" method=POST>
 			Buscando por... username <input type=text size=30 name=username>
 		</form>
 		{% if client %}
 			{{ client_searched.id }} {{ client_searched.username }} {{ client_searched.address }} {{ client_searched.email }}
 		{% endif %}
		<ul class=entries>
			{% for entity in entities %}
				<li> {{ entity.username }} - {{ entity.email }} </li>
			{% endfor %}
  		</ul>
	{% endif %}
  </div>
</div>1
